<template>
<div class="cookie" :class="containerPosition" v-if="isOpen">
    <div class="cookie_content">
        <div name="message" v-html="message">
        </div>
    </div>
    <div class="cookie_button accept" @click="accept">
        {{ buttonTextAccept }}
    </div>
</div>
</template>

<script>
export default {
    name: 'CookieMessage',
    props: {
        buttonTextAccept: {
            type: String,
            default: 'ok'
        },
        message: {
            type: String,
            default: 'We use cookies to ensure that we give you the best experience on our website! For more information see our <a href="">privacy policy</a>.'
        },
        position: {
            type: String,
            default: 'bottom'
        },
    },
    data() {
        return {
            isOpen: false
        }
    },
    computed: {
        containerPosition() {
            return `cookie--${this.position}`;
        }
    },
    created () {
        if(!this.getGDPR() === true) {
            this.isOpen = true;
        }
    },
    methods: {
        getGDPR() {
            return localStorage.getItem('GDPR:accepted', true);
        },
        accept() {
            this.isOpen = false;
            localStorage.setItem('GDPR:accepted', true);
        }
    }
}
</script>

<style scoped>
.cookie {
    position: fixed; bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: -webkit-fill-available;
    z-index: 999;
}
.cookie_content {
    grid-column: auto / span 5;
    padding: 5px;
    text-align: left;
    color: white;
    margin-left: 25px;
}
.cookie_button {
   
    grid-column: auto / span 1;
    border-radius: 20px 20px;
    width: auto;
}

.cookie_button {
    margin-right: 70px;
    padding: 5px;
    cursor: pointer;
  border-radius: 20px 20px;
  transform: translateZ(0);
  box-shadow: none;
  transition-property: color;
  transition-duration: 0.3s;
  background-image: linear-gradient(to bottom, black 0%, grey 100%);
  color: #fff;
  text-decoration: none; 
}

.cookie_button::before {
    content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 20px 20px;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.cookie_button:hover, .cookie_button:focus, .cookie_button:active {
    color: black;
}
.cookie_button:hover::before, .cookie_button:focus::before, .cookie_button:active::before {
  transform: scaleY(1);
}


@media only screen and (max-width: 300px) {
    .cookie_content {
        font-size: 10px;
    }
    .cookie_button {
        font-size: 10px;
    }
}
</style>