<template>
<div>
    <h2 class="title">JOB OFFER</h2>
    <MainMenu />
    <router-view />
</div>
    
</template>

<script>
//import MainMenu from './MainMenu'
export default {
   // components: { MainMenu },
    name: 'JobOffer'
}
</script>

<style scoped>
.title {
    padding-top: 200px;
    text-align: center;
}
</style>