<template>
    <div id="app">
        <div>
            <CookiesMessage />
        </div>
        <div>
            <h1 class="title">Hello in Internsheep, let's find work for you!</h1>
                <a href="/job_offers" class="myButton"><button> Przeglądaj oferty</button></a>
                <div><button>Zaloguj się</button></div>
        </div>
    </div>
</template>

<script>
import CookiesMessage from './CookiesMessage'

export default {
    name: 'MainPage',
    components: { CookiesMessage },
}
</script>

<style scoped>
.title {
    padding-top: 200px;
    text-align: center;
}
</style>