<template>
    <div class="navbar">
        <router-link class="logo" to="/main_page"> Internsheep </router-link>
        <ul class="nav">
            <li><router-link to="/main_page" class="myButton"> Home </router-link></li>
            <li><router-link to="/job_offers" class="myButton"> Job offers</router-link></li>
            <li><div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <!-- Check that the SDK client is not currently loading before accessing is methods -->
                      <div v-if="!$auth.loading">
                        <!-- show login when not authenticated -->
                        <a v-if="!$auth.isAuthenticated" @click="login" class="button is-dark"><strong>Sign in</strong></a>
                      <!-- show logout when authenticated -->
                      <a v-if="$auth.isAuthenticated" @click="logout" class="button is-dark"><strong>Log out</strong></a>
                    </div>
                  </div>
                </div>
              </div></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'MainMenu',
  methods: {
    // Log the user in
    login() {
      this.$auth.loginWithRedirect();
    },
    // Log the user out
    logout() {
      this.$auth.logout({
        returnTo: window.location.origin
      });
    }
  }
}
</script>

<style scoped>

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d4d7de;
  width: 100%;
  height: 70px;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 15%;
}
.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}
a {
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #000;
}
</style>
